target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/.terraform.*
*/mykey*
